/* HERO SECTION */
.hero-section {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d")
    center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #e5e7eb;
  margin-bottom: 30px;
}

.hero-buttons .btn {
  min-width: 140px;
}
.hero-buttons login{
  background-color: #6e69ff;
}

/* SECTION TITLES */
.section-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}

/* IMPORTANCE SECTION */
.importance-section {
  padding: 10px 0;
  /* background-color: #6e69ff; */
  display: flex;
  align-items: center;


 
}

.info-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease;
}

.info-card:hover {
  transform: translateY(-10px);
}

.info-card .icon {
  font-size: 2.5rem;
  color: #7c3aed;
  margin-bottom: 15px;
}

/* FEATURES SECTION */
.features-section {
  background: linear-gradient(135deg, #f9fafb, #f3f4f6);
  padding: 80px 0;
}

.feature-card {
  background: #111827;
  color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  transition: all 0.4s ease;
}

.feature-card:hover {
  background: #7c3aed;
  transform: scale(1.05);
}

.feature-card .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: #111827;
  color: #d1d5db;
  padding: 30px 0;
  text-align: center;
}

.footer-sub {
  font-size: 0.9rem;
  color: #9ca3af;
}
